@import url(https://fonts.googleapis.com/css?family=Poppins:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow1:before {
  content: "\e909";
}

._icon-arrow-bottom:before {
  content: "\e90a";
}

._icon-bathroom:before {
  content: "\e90b";
}

._icon-bed:before {
  content: "\e90c";
}

._icon-build:before {
  content: "\e90d";
}

._icon-interior:before {
  content: "\e90e";
}

._icon-locations:before {
  content: "\e90f";
}

._icon-logo-icon:before {
  content: "\e910";
}

._icon-logo-title:before {
  content: "\e911";
}

._icon-rectangle:before {
  content: "\e912";
}

._icon-room:before {
  content: "\e913";
}

._icon-social-facebook:before {
  content: "\e914";
}

._icon-social-linkedin:before {
  content: "\e916";
}

._icon-social-twitter:before {
  content: "\e917";
}

._icon-star-bg:before {
  content: "\e918";
}

._icon-star-border:before {
  content: "\e919";
}

._icon-arrow:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
}

._icon-social-insta:before {
  content: "\e902";
}

._icon-location:before {
  content: "\e903";
}

._icon-pinterest:before {
  content: "\e904";
}

._icon-select:before {
  content: "\e905";
}

._icon-select-slider:before {
  content: "\e906";
}

._icon-star:before {
  content: "\e907";
}

._icon-twitter:before {
  content: "\e908";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #6F7278;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.subtitle {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FF8A63;
}

.title {
  line-height: 1.2;
  color: #45525B;
}

.text {
  font-size: 18px;
  line-height: 1.2;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  line-height: 1.4;
  color: #45525B;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.link::before {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.leader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.leader__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #CACCD1;
}

.leader__block-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 155px;
}

.leader__name {
  font-size: 16px;
  line-height: 1.4;
  color: #45525B;
}

.leader__profession {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header {
  position: fixed;
  z-index: 50;
  background-color: #FFFFFF;
  padding: 15px 0;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.header__image {
  font-size: 36px;
  color: #FF8A63;
}

.header__title {
  color: #45525B;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.menu-open .menu__body {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 3px;
}

.menu__link {
  color: #444444;
  line-height: 1;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.icon-menu {
  display: none;
}

.footer {
  background: #292C32;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fff;
}

.footer__image {
  font-size: 58px;
}

.footer__title {
  font-size: 24px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__block-column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 25px;
}

.footer__block-column:not(:last-child) {
  margin-bottom: 27px;
}

.footer__column-letter {
  max-width: 450px;
  width: 100%;
}

.footer__subtitle {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FF8A63;
}

.footer__subtitle:not(:last-child) {
  margin-bottom: 9px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  color: #fff;
}

.footer__text {
  color: #FAFAFC;
}

.footer__text:not(:last-child) {
  margin-bottom: 10px;
}

.footer__form {
  padding: 7px 7px 7px 34px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F9FAFB;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__label {
  margin-right: 10px;
}

.footer__button {
  padding: 8px;
  background: #3A4443;
  border-radius: 10px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  row-gap: 30px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer__social-item {
  font-size: 24px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.promo {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-webp .promo::before{
  background-image: url(../img/promo-image.jpg); }

.promo::before {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  z-index: 1;
  background-size: cover;
}

.promo__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: relative;
  margin-bottom: 20px;
}

.promo__image {
  font-size: 56px;
  color: #FF8A63;
}

.promo__title {
  font-size: 33px;
  color: #45525B;
}

.promo__text {
  font-size: 32px;
  line-height: 1.4;
  max-width: 525px;
  width: 100%;
  text-align: center;
  color: #45525B;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.promo__link {
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #3A4443;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.promo__link::before {
  position: relative;
  color: #3A4443;
  font-size: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 33%;
}

.goal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goal__block-title {
  max-width: 490px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.goal__title {
  line-height: 1.1;
  color: #45525B;
}

.goal__content {
  max-width: 560px;
  width: 100%;
}

.goal__block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  line-height: 1.4;
  color: #333333;
}

.goal__block-text:not(:last-child) {
  margin-bottom: 20px;
}

.requirements__block-title {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.requirements__block-title:not(:last-child) {
  margin-bottom: 30px;
}

.requirements__title:not(:last-child) {
  margin-bottom: 11px;
}

.requirements__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.requirements__image {
  max-width: 480px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.requirements__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-requirements {
  width: 220px;
}

.item-requirements__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  height: 48px;
  background: #45525B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-requirements__label:not(:last-child) {
  margin-bottom: 9px;
}

.item-requirements__label::before {
  position: relative;
  font-size: 24px;
  color: #fff;
}

.item-requirements__title {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #45525B;
}

.item-requirements__text {
  font-size: 14px;
  line-height: 1.4;
}

.picture__image {
  width: 100%;
  max-height: 624px;
  min-height: 200px;
}

.listings__block-title {
  margin-bottom: 24px;
}

.listings__title:not(:last-child) {
  margin-bottom: 11px;
}

.listings__text {
  max-width: 575px;
  width: 100%;
}

.listings__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 21px;
  margin-bottom: 32px;
}

.listings__link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column-listings {
  text-align: center;
  width: 100%;
}

.column-listings__image {
  max-width: 379px;
  width: 100%;
  height: 267px;
  -o-object-fit: cover;
     object-fit: cover;
}

.column-listings__image:not(:last-child) {
  margin-bottom: 20px;
}

.column-listings__subtitle {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.column-listings__title {
  font-size: 20px;
  line-height: 1.4;
  color: #45525B;
}

.column-listings__title:not(:last-child) {
  margin-bottom: 11px;
}

.column-listings__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.column-listings__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  color: #45525B;
  font-size: 12px;
}

.column-listings__item::before {
  font-size: 20px;
  color: #45525B;
}

.people__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
}

.people__block-title {
  max-width: 370px;
  width: 100%;
}

.people__title:not(:last-child) {
  margin-bottom: 11px;
}

.people__text {
  font-size: 17px;
  line-height: 1.3;
}

.people__text:not(:last-child) {
  margin-bottom: 19px;
}

.people__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 16px;
}

.people__leader {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsroom__block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsroom__block-title:not(:last-child) {
  margin-bottom: 23px;
}

.newsroom__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsroom__link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column-newsroom {
  width: 375px;
  max-width: 100%;
}

.column-newsroom__image {
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.column-newsroom__block-title {
  padding: 30px;
}

.column-newsroom__subtitle {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FF8A63;
}

.column-newsroom__subtitle:not(:last-child) {
  margin-bottom: 8px;
}

.column-newsroom__title {
  line-height: 1.2;
  color: #45525B;
}

.column-newsroom__title:not(:last-child) {
  margin-bottom: 10px;
}

.column-newsroom__data {
  font-size: 13px;
  line-height: 1.5;
  margin-top: auto;
}

.testimonials__block-title:not(:last-child) {
  margin-bottom: 23px;
}

.testimonials__slider {
  overflow: visible !important;
}

.testimonials__wrapper {
  margin-bottom: 20px;
}

.testimonials__slide {
  padding: 30px;
  border: 1px solid rgba(82, 80, 59, 0.1);
  border-radius: 4px;
  min-height: 286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.testimonials__button {
  border: 2px solid #52503B;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.testimonials__button::before {
  font-size: 25px;
  color: #52503B;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.testimonials__button--prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.slide-testimonials__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
}

.slide-testimonials__rating:not(:last-child) {
  margin-bottom: 8px;
}

.slide-testimonials__star {
  font-size: 18px;
}

.slide-testimonials__title {
  line-height: 1.2;
  color: #333333;
}

.slide-testimonials__title:not(:last-child) {
  margin-bottom: 11px;
}

.slide-testimonials__text {
  font-size: 15px;
  line-height: 1.49;
  color: #333333;
}

.slide-testimonials__text:not(:last-child) {
  margin-bottom: 20px;
}

.slide-testimonials__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  line-height: 1;
  color: #45525B;
  position: relative;
  margin-top: auto;
}

.slide-testimonials__autor::before {
  content: "";
  height: 24px;
  width: 2px;
  background: #FF8A63;
}

.contact {
  background: #45525B;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 575px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}

.contact__subtitle {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FAFAFC;
}

.contact__title {
  color: #FFFFFF;
  text-align: center;
}

.contact__title:not(:last-child) {
  margin-bottom: 11px;
}

.contact__text {
  color: #FAFAFC;
  text-align: center;
}

.contact__text:not(:last-child) {
  margin-bottom: 20px;
}

.contact__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.contact__button {
  padding: 10px 18px;
  color: #45525B;
  background: #FFFFFF;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 75em) {
  .title {
    font-size: 2.25rem;
  }

  .text {
    font-size: 1.125rem;
  }

  .footer {
    padding-top: 6.25rem;
  }

  .footer {
    padding-bottom: 6.25rem;
  }

  .footer__logo:not(:last-child) {
    margin-bottom: 4.6875rem;
  }

  .footer__box {
    -webkit-column-gap: 8.75rem;
       -moz-column-gap: 8.75rem;
            column-gap: 8.75rem;
  }

  .goal {
    padding-top: 6.25rem;
  }

  .goal {
    padding-bottom: 6.25rem;
  }

  .goal__body {
    gap: 6.25rem;
  }

  .goal__title {
    font-size: 3rem;
  }

  .requirements {
    padding-top: 6.25rem;
  }

  .requirements {
    padding-bottom: 6.25rem;
  }

  .requirements__image {
    height: 37.5rem;
  }

  .requirements__list {
    gap: 4.375rem;
  }

  .picture {
    padding-top: 6.25rem;
  }

  .picture {
    padding-bottom: 6.25rem;
  }

  .listings {
    padding-top: 6.25rem;
  }

  .listings {
    padding-bottom: 6.25rem;
  }

  .column-listings__list {
    gap: 1.875rem;
  }

  .people {
    padding-top: 6.25rem;
  }

  .people {
    padding-bottom: 6.25rem;
  }

  .people__body {
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
  }

  .people__list {
    -webkit-column-gap: 8.125rem;
       -moz-column-gap: 8.125rem;
            column-gap: 8.125rem;
  }

  .newsroom {
    padding-top: 6.25rem;
  }

  .newsroom {
    padding-bottom: 6.25rem;
  }

  .testimonials {
    padding-top: 6.25rem;
  }

  .testimonials {
    padding-bottom: 4.375rem;
  }

  .slide-testimonials__title {
    font-size: 1.5rem;
  }

  .contact {
    padding-top: 6.25rem;
  }

  .contact {
    padding-bottom: 6.25rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.5rem;
  }

  .text {
    font-size: 1rem;
  }

  .footer {
    padding-top: 1.5625rem;
  }

  .footer {
    padding-bottom: 1.5625rem;
  }

  .footer__logo:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .footer__box {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .goal {
    padding-top: 3.125rem;
  }

  .goal {
    padding-bottom: 1.5625rem;
  }

  .goal__body {
    gap: 1.5625rem;
  }

  .goal__title {
    font-size: 1.75rem;
  }

  .requirements {
    padding-top: 1.5625rem;
  }

  .requirements {
    padding-bottom: 1.5625rem;
  }

  .requirements__image {
    height: 18.75rem;
  }

  .requirements__list {
    gap: 1.875rem;
  }

  .picture {
    padding-top: 1.5625rem;
  }

  .picture {
    padding-bottom: 1.5625rem;
  }

  .listings {
    padding-top: 1.5625rem;
  }

  .listings {
    padding-bottom: 1.5625rem;
  }

  .column-listings__list {
    gap: 1.25rem;
  }

  .people {
    padding-top: 1.5625rem;
  }

  .people {
    padding-bottom: 1.5625rem;
  }

  .people__body {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .people__list {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .newsroom {
    padding-top: 1.5625rem;
  }

  .newsroom {
    padding-bottom: 1.5625rem;
  }

  .testimonials {
    padding-top: 1.5625rem;
  }

  .testimonials {
    padding-bottom: 1.875rem;
  }

  .slide-testimonials__title {
    font-size: 1.25rem;
  }

  .contact {
    padding-top: 1.5625rem;
  }

  .contact {
    padding-bottom: 1.5625rem;
  }
}

@media (max-width: 65.625em) {
  .listings__block-title {
    text-align: center;
  }

  .listings__text {
    margin: 0 auto;
  }

  .listings__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .column-listings__image {
    max-width: 500px;
  }
}

@media (max-width: 61.99875em) {
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__block-column {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer__column-letter {
    margin: 0 auto 30px auto;
    text-align: center;
  }

  .people__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .people__block-title {
    max-width: 575px;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    background-color: #fff;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    font-size: 30px;
  }

  .icon-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .goal__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .goal__block-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .goal__title {
    text-align: center;
  }

  .goal__content {
    max-width: 100%;
  }

  .requirements__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .requirements__image {
    max-width: 100%;
  }

  .requirements__list {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }

  .item-requirements {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .item-requirements__text {
    text-align: justify;
  }

  .listings__body {
    -ms-grid-columns: (auto)[1];
    grid-template-columns: repeat(1, auto);
  }

  .testimonials__block-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .testimonials__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 34.375em) {
  .people__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .people__block-title {
    text-align: center;
  }

  .people__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .people__list {
    -ms-grid-columns: (auto)[1];
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 29.99875em) {
  .footer__block-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .footer__form {
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__box-form {
    margin-bottom: 10px;
    margin-right: auto;
  }

  .footer__button {
    width: 100%;
  }

  .goal__block-text {
    text-align: justify;
  }

  .item-requirements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .picture__image {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .column-listings__item::before {
    font-size: 14px;
  }

  .contact__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem )) {
    .title {
      font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem )) {
    .title {
      font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
    .text {
      font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
    .text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .footer {
      padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .footer {
      padding-top: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .footer {
      padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .footer {
      padding-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.4261363636rem  +  5.6818181818vw , 4.6875rem )) {
    .footer__logo:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.4261363636rem  +  5.6818181818vw , 4.6875rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.4261363636rem  +  5.6818181818vw , 4.6875rem )) {
    .footer__logo:not(:last-child) {
      margin-bottom: calc(1.5625rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 3.125rem , 1.0795454545rem  +  10.2272727273vw , 8.75rem )) or (column-gap: clamp( 3.125rem , 1.0795454545rem  +  10.2272727273vw , 8.75rem ))) {
    .footer__box {
      -webkit-column-gap: clamp( 3.125rem , 1.0795454545rem  +  10.2272727273vw , 8.75rem );
         -moz-column-gap: clamp( 3.125rem , 1.0795454545rem  +  10.2272727273vw , 8.75rem );
              column-gap: clamp( 3.125rem , 1.0795454545rem  +  10.2272727273vw , 8.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 3.125rem , 1.0795454545rem  +  10.2272727273vw , 8.75rem )) or (column-gap: clamp( 3.125rem , 1.0795454545rem  +  10.2272727273vw , 8.75rem ))) {
    .footer__box {
      -webkit-column-gap: calc(3.125rem + 5.625 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(3.125rem + 5.625 * (100vw - 20rem) / 55);
              column-gap: calc(3.125rem + 5.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
    .goal {
      padding-top: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
    .goal {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .goal {
      padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .goal {
      padding-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .goal__body {
      gap: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (gap: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .goal__body {
      gap: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.75rem , 1.2954545455rem  +  2.2727272727vw , 3rem )) {
    .goal__title {
      font-size: clamp( 1.75rem , 1.2954545455rem  +  2.2727272727vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.2954545455rem  +  2.2727272727vw , 3rem )) {
    .goal__title {
      font-size: calc(1.75rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .requirements {
      padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .requirements {
      padding-top: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .requirements {
      padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .requirements {
      padding-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 18.75rem , 11.9318181818rem  +  34.0909090909vw , 37.5rem )) {
    .requirements__image {
      height: clamp( 18.75rem , 11.9318181818rem  +  34.0909090909vw , 37.5rem );
    }
}

@supports not (height: clamp( 18.75rem , 11.9318181818rem  +  34.0909090909vw , 37.5rem )) {
    .requirements__image {
      height: calc(18.75rem + 18.75 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
    .requirements__list {
      gap: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
    .requirements__list {
      gap: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .picture {
      padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .picture {
      padding-top: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .picture {
      padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .picture {
      padding-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .listings {
      padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .listings {
      padding-top: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .listings {
      padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .listings {
      padding-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .column-listings__list {
      gap: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
    }
}

@supports not (gap: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .column-listings__list {
      gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .people {
      padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .people {
      padding-top: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .people {
      padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .people {
      padding-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , 1.1022727273rem  +  3.8636363636vw , 4rem )) or (column-gap: clamp( 1.875rem , 1.1022727273rem  +  3.8636363636vw , 4rem ))) {
    .people__body {
      -webkit-column-gap: clamp( 1.875rem , 1.1022727273rem  +  3.8636363636vw , 4rem );
         -moz-column-gap: clamp( 1.875rem , 1.1022727273rem  +  3.8636363636vw , 4rem );
              column-gap: clamp( 1.875rem , 1.1022727273rem  +  3.8636363636vw , 4rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 1.1022727273rem  +  3.8636363636vw , 4rem )) or (column-gap: clamp( 1.875rem , 1.1022727273rem  +  3.8636363636vw , 4rem ))) {
    .people__body {
      -webkit-column-gap: calc(1.875rem + 2.125 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(1.875rem + 2.125 * (100vw - 20rem) / 55);
              column-gap: calc(1.875rem + 2.125 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -2.1022727273rem  +  13.6363636364vw , 8.125rem )) or (column-gap: clamp( 0.625rem , -2.1022727273rem  +  13.6363636364vw , 8.125rem ))) {
    .people__list {
      -webkit-column-gap: clamp( 0.625rem , -2.1022727273rem  +  13.6363636364vw , 8.125rem );
         -moz-column-gap: clamp( 0.625rem , -2.1022727273rem  +  13.6363636364vw , 8.125rem );
              column-gap: clamp( 0.625rem , -2.1022727273rem  +  13.6363636364vw , 8.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -2.1022727273rem  +  13.6363636364vw , 8.125rem )) or (column-gap: clamp( 0.625rem , -2.1022727273rem  +  13.6363636364vw , 8.125rem ))) {
    .people__list {
      -webkit-column-gap: calc(0.625rem + 7.5 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(0.625rem + 7.5 * (100vw - 20rem) / 55);
              column-gap: calc(0.625rem + 7.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .newsroom {
      padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .newsroom {
      padding-top: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .newsroom {
      padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .newsroom {
      padding-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .testimonials {
      padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .testimonials {
      padding-top: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
    .testimonials {
      padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
    .testimonials {
      padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem )) {
    .slide-testimonials__title {
      font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem )) {
    .slide-testimonials__title {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .contact {
      padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .contact {
      padding-top: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .contact {
      padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -0.1420454545rem  +  8.5227272727vw , 6.25rem )) {
    .contact {
      padding-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .link:hover {
    color: #FF8A63;
  }

  .menu__link:hover::after {
    position: absolute;
    content: "";
    display: block;
    height: 0.125rem;
    width: 100%;
    background-color: #FF8A63;
    margin-top: 0.25rem;
  }

  .footer__item:hover {
    text-decoration: underline;
  }

  .footer__button:hover {
    background: #FF8A63;
  }

  .footer__social-item:hover {
    color: #FF8A63;
  }

  .promo__link:hover {
    color: #FF8A63;
    border: 2px solid #FF8A63;
  }

  .testimonials__button:hover {
    border: 2px solid #FF8A63;
  }

  .testimonials__button:hover::before {
    color: #FF8A63;
  }

  .contact__button:hover {
    color: #FAFAFC;
    background: #FF8A63;
  }
}

@media (max-height: 31.25em) {
  .promo {
    height: 100%;
    min-height: 500px;
  }
}

.webp .promo::before{ background-image: url(../img/promo-image.webp); }